.matches {
  width: 40%;
  max-height: 500px;
  direction: rtl;
  overflow-y: auto;
  display: inline-block;
  vertical-align: top;
  cursor: pointer; }
  .matches > div {
    margin: 3px 0; }
  .matches .match {
    direction: ltr;
    background: #d1af73;
    position: relative;
    padding-right: 65px;
    margin: 0 4px;
    white-space: nowrap; }
    .matches .match.active {
      margin: 0 0 0 4px;
      background: #dacfbf;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
      .matches .match.active .check {
        right: 24px; }
    .matches .match:first-child {
      border-radius: 3px 3px 0 0; }
    .matches .match + .match {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .matches .match:last-child {
      border-radius: 0 0 3px 3px; }
  .matches .command_block {
    white-space: normal;
    margin-right: 75px; }
  .matches .commands, .matches .flags, .matches .data, .matches .command_block {
    vertical-align: middle;
    display: inline-block; }
  .matches .data {
    padding: 7px 15px;
    font-weight: bold;
    position: relative; }
    .matches .data:after {
      position: absolute;
      top: 3px;
      right: 0;
      bottom: 3px;
      content: '';
      width: 1px;
      background: #fff; }
  .matches .flags img {
    margin: 0 10px; }
  .matches .flags span {
    vertical-align: middle; }
  .matches .commands {
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold; }
    .matches .commands .team {
      line-height: 14px;
      display: inline-block;
      vertical-align: middle; }
  .matches .delimiter {
    margin: 0 15px; }
  .matches .check {
    position: absolute;
    right: 20px;
    border-radius: 0;
    top: 50%;
    font-size: 30px;
    line-height: 30px;
    margin-top: -15px; }

.work_panel, .info {
  width: 60%;
  display: inline-block;
  max-height: 500px;
  overflow-y: auto; }
  .work_panel > div, .info > div {
    padding: 15px;
    min-height: 500px;
    background: #dacfbf;
    position: relative;
    margin: 0 4px 0 0;
    border-radius: 3px; }
  .work_panel .header > div, .info .header > div {
    display: inline-block;
    vertical-align: top;
    font-weight: bold; }
    .work_panel .header > div.data, .work_panel .header > div.game_type, .info .header > div.data, .info .header > div.game_type {
      width: 10%; }
    .work_panel .header > div.commands, .work_panel .header > div.flags, .info .header > div.commands, .info .header > div.flags {
      text-align: center; }
    .work_panel .header > div.commands, .info .header > div.commands {
      width: 50%;
      text-transform: uppercase;
      font-weight: bold; }
      .work_panel .header > div.commands .team, .info .header > div.commands .team {
        line-height: 14px;
        display: inline-block;
        vertical-align: middle; }
      .work_panel .header > div.commands .delimiter, .info .header > div.commands .delimiter {
        margin: 0 15px; }
      .work_panel .header > div.commands .foot, .info .header > div.commands .foot {
        font-size: 12px;
        font-weight: normal;
        text-transform: none; }
    .work_panel .header > div.flags, .info .header > div.flags {
      white-space: nowrap;
      width: 30%; }
      .work_panel .header > div.flags img, .info .header > div.flags img {
        margin: 0 10px; }
      .work_panel .header > div.flags span, .info .header > div.flags span {
        vertical-align: middle; }

.active_bet, .beat_bet {
  margin-top: 15px;
  width: 100%; }
  .active_bet > div, .beat_bet > div {
    vertical-align: top;
    display: inline-block; }
    .active_bet > div + div, .beat_bet > div + div {
      margin-left: 10px; }
  .active_bet .show_check_submit, .beat_bet .show_check_submit {
    width: 40%; }
    .active_bet .show_check_submit > span, .beat_bet .show_check_submit > span {
      text-transform: uppercase; }
    .active_bet .show_check_submit .check, .beat_bet .show_check_submit .check {
      background: #fff;
      padding: 7px 15px;
      width: 100%; }
  .active_bet .condition, .beat_bet .condition {
    width: 30%; }
    .active_bet .condition > span, .beat_bet .condition > span {
      text-transform: uppercase; }
    .active_bet .condition .type_1, .beat_bet .condition .type_1 {
      margin-top: 5px; }
      .active_bet .condition .type_1 .bet, .beat_bet .condition .type_1 .bet {
        background: #fff;
        padding: 7px 15px;
        display: inline-block;
        width: 100%; }
        .active_bet .condition .type_1 .bet:before, .beat_bet .condition .type_1 .bet:before {
          content: '\25CF';
          display: inline-block;
          margin-right: 20px; }
      .active_bet .condition .type_1 .radio, .beat_bet .condition .type_1 .radio {
        margin-top: 5px; }
  .active_bet .condition_bet, .beat_bet .condition_bet {
    background: #fff;
    padding: 7px 15px; }
  .active_bet .button_set, .beat_bet .button_set {
    margin-top: 10px;
    display: block;
    width: 70%;
    text-align: right; }
    .active_bet .button_set .button, .beat_bet .button_set .button {
      padding: 7px 15px;
      background: #d1af73;
      width: 170px;
      text-align: center;
      display: inline-block;
      color: #fff;
      -webkit-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.64);
      -moz-box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.64);
      box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.64);
      border-radius: 3px; }

.beat_bet .condition_bet {
  border-radius: 0; }
.beat_bet .condition .type_1, .beat_bet .condition .type_3 {
  margin-top: 0; }
  .beat_bet .condition .type_1 .radio, .beat_bet .condition .type_3 .radio {
    background: #fff;
    padding: 7px 15px;
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    min-height: 34px;
    width: 100%; }
    .beat_bet .condition .type_1 .radio label, .beat_bet .condition .type_3 .radio label {
      display: block;
      font-weight: bold; }
.beat_bet .condition .type_2 {
  margin-top: 5px; }
  .beat_bet .condition .type_2 > span, .beat_bet .condition .type_2 > div {
    display: inline-block; }
  .beat_bet .condition .type_2 .form-group {
    margin-left: 5px;
    width: 70px; }
    .beat_bet .condition .type_2 .form-group input {
      text-align: right;
      border-radius: 0; }
      .beat_bet .condition .type_2 .form-group input::-webkit-outer-spin-button, .beat_bet .condition .type_2 .form-group input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
.beat_bet .condition .type_3 .command {
  margin-top: 5px;
  clear: both; }
  .beat_bet .condition .type_3 .command > div {
    display: inline-block; }
    .beat_bet .condition .type_3 .command > div.radio {
      margin: 0;
      width: 70%; }
    .beat_bet .condition .type_3 .command > div.form-group {
      width: 70px;
      float: right;
      margin: 0; }
      .beat_bet .condition .type_3 .command > div.form-group input {
        text-align: right;
        border-radius: 0; }
        .beat_bet .condition .type_3 .command > div.form-group input::-webkit-outer-spin-button, .beat_bet .condition .type_3 .command > div.form-group input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0; }
.beat_bet .show_check_submit select {
  border-radius: 0; }

.info {
  width: 100%; }
  .info > div {
    margin: 0 4px; }
  .info .thead-light {
    background: #d1af73; }

.header {
  margin: 4px 0; }
  .header ul {
    padding: 0;
    margin: 0 4px; }
    .header ul li {
      display: inline-block;
      font-weight: bold; }
      .header ul li a {
        border: 1px solid #d1af73;
        border-radius: 3px;
        color: #000;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none; }
        .header ul li a.active {
          color: #fff;
          background: #d1af73;
          border: 1px solid #a4805d; }
      .header ul li + li {
        margin-left: 10px; }

/*# sourceMappingURL=StylesMatches.css.map */
